<p id="notice"><%= notice %></p>

<h1>Blogs</h1>



<section class="blog-list-container">
  <% @blogs.reverse_each.each_with_index do |blog , i| %>
    <section class="blog-list-item">
      <%= raw blog.thumnail %>
      <div class="item-title"><%= link_to blog.title, blog, 'data-turbolinks': false %></div>
      <div><%= blog.created_at.in_time_zone('Tokyo').to_s.slice(0..(Time.now.to_s.rindex(' ').to_i - 1)) %></div>
      <div><%= link_to '記事を読む', blog, 'data-turbolinks': false %></div>
        <% if current_user && current_user.admin? %>
          <div> <%= link_to '編集', edit_blog_path(blog) %></div>
          <div> <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
    </section>
  <% end %>
</section>

<br>
<% if current_user && current_user.admin? %>
  <%= link_to '記事を作成', new_blog_path %>
<% end %>
